#settings.hide, #detailedChart.hide {
  display: none;
}

#settings.show, #detailedChart.show {
  display: block;
  margin-top: 25px;
  /* width: 600px */
}

body {
  color: #373F27;
  font-family: Georgia, Serif;
  font-weight: bold;
  background-color: #E9E7DA;
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-size: 25px;
  text-align: center
}

.initial-view.show {
  align-items: center;
  display: block;
  justify-content: space-between;
  margin: 2px;
}

#initial-view.hide {
    display: none;
}

#initial-view-toggle-button {
  font-size: 15px;
  font-family: Georgia, Serif;
  font-weight: bold;
  color: #E9E7DA;
  border-radius: 25px;
  align-items: center;
  background-color: #636B46;
  border: none;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.hrs, .mins {
  width: 50px;
}

input[type="submit"]  {
  font-size: 12px;
  font-family: Georgia, Serif;
  font-weight: bold;
  color: #373F27;
  border-radius: 25px;
  align-items: center;
  background-color: #CDA34F;
  border-width: 1px;
  border-color: #373F27;
  padding: 4px;
  margin: 4px;
}

#greenlist-edit-btn, #redlist-edit-btn {
  background: url(/images/edit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-color: #373F27;
  cursor: pointer;
  padding: 12px;
  margin: 2px;
}

#greenlist-delete-btn, #redlist-delete-btn {
  background: url(images/delete.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-color: #373F27;
  cursor: pointer;
  padding: 12px;
  margin: 2px;
}

label {
  font-size: 12px
}

h2 {
  font-size: 20px;
  margin: 10px 0 0 0;
}

h1 {
  font-size: 25px;
  text-align: center
}

h3, p{
  display: inline;
  font-size: 14px
}

#settings-current-bedwake-time {
  margin-top: 2px;
  margin-bottom: 10px;
}

#gnome {
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 30px;
  height: 180px;
  z-index: 1;
}

/* pie chart style */
svg {
  display: block;
  margin: auto;
}

.arc text {
  font-size: 15px;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
